.App {
  text-align: center;
  background: url('../../assets/audience.jpg');
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.over-wrapper {
  background: linear-gradient(#000, rgba(0,0,0,0.5));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-content {
  height: 20em;
}

.middle-content {
  background: transparent;
  display: flex;
  align-items: center;
  width: 100%;
}

.middle-content-item {
  margin: 10em;
  width: 30%;
}
